.container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.email {
    font-size: 18px;
    color: #fff;
}

.logout {
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}