.header {
    padding: 15px;
    background-color: #000;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.link:global(.active) {
    font-weight: bold;
}